# Flask configuration
SECRET_KEY=your-secret-key
FLASK_DEBUG=False
PORT=8080

# Google API configuration for Gemini
# You can get a free key from google
GOOGLE_API_KEY=your-google-api-key

# OpenAlex configuration
OPENALEX_EMAIL=your-email@example.com

# Database configuration for running locally
DATABASE_URL=sqlite:///factify_rag.db

# Embedding and RAG configuration
EMBEDDING_MODEL=all-MiniLM-L6-v2
MAX_EVIDENCE_TO_RETRIEVE=400
MAX_EVIDENCE_TO_STORE=300
RAG_TOP_K=55



